html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/farm-background2.png') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
  font-family: 'Days One', sans-serif;

}
body{
  cursor: url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/cat-paw.png'), auto;
}
h1 {
  text-align: center;
  font-size: 90px;
  color: white;
  -webkit-text-stroke: 2px #C8553D;
}



h2 {
  text-align: center;
  font-size: 40px;
  color: white;
  -webkit-text-stroke: 1px #C8553D;
}
#buttondiv {
  text-align: center;
}
#start {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #C8553D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #80636e;
  
  font-family: "Days One";
    cursor: url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/cat-paw.png'), auto;
 
   
}

button:hover {
  background-color: white;

}

button:active {
  transform: translateY(4px);
}

#timer{
    color: white;
}

.grid {
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/dirtbackground.png');
  border-radius: 10px;
  border: 10px solid #fff;
}

.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/hole-2.png') bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -30%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://raw.githubusercontent.com/nderespino/whack-a-mole/main/assets/mole2.png') bottom center no-repeat;
  background-size: 80%;
  position: absolute;
  top: 80%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
  
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}
